#doctors-overview {
	.doctor {
		margin: 12px 0;
		ul.personal-info {
			list-style-type: none;
			padding: 12px;
			background-color: #f1f1f1;
			margin: 0;
			.title-header {
				text-transform: uppercase;
				font-weight: bold;
				border-bottom: 1px solid #999999;
				color: #999999;
				width: 100%;
				display: inline-block;
				padding-top: 12px;
			}
		}
	}
}