#home-welcome {
	text-align: center;
	padding: 60px 0;
}
.header-title {
	width: 100%;
	text-transform: uppercase;
	font-size: 18px;
	text-align: center;
	padding-bottom: 12px;
	letter-spacing: 2px;
	font-weight: bold;
}
#latest-locations,
#latest-doctors,
#latest-specialties {
	padding: 12px;
}
#latest-locations {
	background-color: #f1f1f1;
}

#latest-doctors {
	background-color: #ffffff;
}

#latest-specialties {
	background-color: #f1f1f1;
}